header {
	font-size: 48px;
	color: white;
	background-color:#00264d;
	margin-bottom: 40px;
	text-shadow: -4px 4px 3px #f2f2f2;
}

footer {
	margin-top: 40px;
	background-color: #00264d;
	color: white;
	font-size: 18px;
}

.container {
	background-image: linear-gradient(270deg, rgba(255,255,255,1), rgba(230,242,255,.4), rgba(255,255,255,1), rgba(255,255,230,.4), rgba(255,255,255,1), rgba(255,255,230,.4), rgba(255,255,255,1), rgba(230,242,255,.4), rgba(255,255,255,1), rgba(255,255,230,.4));
}

.row {
	text-align: center;
}

.circle {
	display: inline-block;
	text-align: center;
	background-color: #339966;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	margin-bottom: 20px;
	animation: enterCircles 2s;
}

.circle span {
	display:  inline-block;
	margin-top: 20px;
	font-family: Arial, sans-serif;
}

.circle:hover {
	transform: scale(1.2);
	border: 1px solid black;
}

span .score {
	display: block;
	width: 50%;
	margin: 0 auto;
	margin-top: 5px;
}

.label {
	display: block;
}

#greenblue {
	background-image: linear-gradient(#339966, #0099cc);
	margin-bottom: 40px;
}

#redblue {
	background-image: linear-gradient(#0099cc, #ff5050);
}

#blue {
	background-color: #0099cc;
}

.red {
	background-color: #ff5050;
}

.green {
	background-color: #339966;
}

#redgreen {
	background-image: linear-gradient(#ff5050, #339966);
	margin-top: 20px;
}

#threerow-left {
	margin-right: 60px;
}

#threerow-right {
	margin-left: 60px;
}

.tworow-left {
	margin-right: 40px;
}

.tworow-right {
	margin-left: 40px;
}

@keyframes enterCircles {
	from {
		transform: rotate(0) scale(.5);
	}
	50% {
		transform: rotate(-720deg) scale(.5);
	}
	to {
		transform: rotate(0) scale(1);
	}
}
